:root {
  color-scheme: light dark;
}

*::before,
*::after {
  box-sizing: border-box;
}

#chat {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 25px;
  gap: 1rem;
  max-width: 400px;
  min-height: 500px;
  margin: 2rem auto;
}

#form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 400px;
  margin: 2rem auto;
}